<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{% static 'MyFile.css' %}" rel="stylesheet"/>
    <link href="{% static 'images/AA_logo.jpg' %}" rel="icon" type='image/ico'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="back">
<img class="anji" src="{% static 'images/AA_logo.jpg' %}" alt="SorryNoImage" >
<h1 class="baseh"> Anke Anjaneyulu </h1>
<div class="nov">
<ul class="noi">
<li class="active"></li>
  <li><a  href="/home">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/sentmail">SendMail</a></li>
</ul>
</div>
{% block body_block %}
{% endblock %}
</body>
</html>
